<section id="container">
  <section>
    <h1>Sign Up</h1>

    <%= simple_form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="errors_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.input :username, label: 'Username:' %>
      </div>
      <div class="field">
        <%= f.input :email, label: 'Email:' %>
      </div>
      <div class="field">
        <%= f.input :password, label: 'Password:' %>
      </div>
      <div class="field">
        <%= f.input :password_confirmation, label: 'Confirm password:' %>
      </div>
      <div class="actions"><%= f.submit %></div>
    <% end %>
  </section>
</section>
