<section id="container">
  <section>
    <h1><%= t('user.signup')%></h1>

    <%= simple_form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="errors_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.input :username, label: t('user.name') %>
      </div>
      <div class="field">
        <%= f.input :email, label: t('user.email') %>
      </div>
      <div class="field">
        <%= f.input :password, label: t('user.password') %>
      </div>
      <div class="field">
        <%= f.input :password_confirmation, label: t('user.confirm_password') %>
      </div>
      <div class="field">
        <%= f.input :locale, as: :select, collection: I18n.available_locales %>
      </div>
      <div class="actions"><%= f.submit %></div>
    <% end %>
  </section>
</section>
