<section id="container">
  <section>
    <p>
      <strong><%= t('user.title') %></strong><br>
      <%= current_user.username %>
      <%= current_user.email %>
    </p>
    <%= link_to t('user.edit'), edit_user_path(current_user) %>
    <%= link_to t('links.back'), welcome_index_path %>
  </section>
</section>
