<% if @card %>
  <%= simple_form_for 'check', url: '/welcome/check' do |f| %>
    <%= image_tag @card.image_url(:thumb).to_s %><br>
    <%= f.label @card.translated_text %>
    <hr>
    <%= f.input :card_id, as: :hidden, input_html: { value: @card.id } %>
    <%= f.input :user_text, label: t('forms.labels.welcome.original_text') %>
    <%= f.submit %>
  <% end %>
<%  else %>
  <p>Н<%= t('forms.labels.welcome.no_cards') %></p>
<% end %>
