<% if @card %>
  <%= simple_form_for 'check', url: '/home/welcome/check', class: 'review_form', remote: true  do |f| %>
    <%= image_tag @card.image_url(:thumb).to_s %><br>
    <%= f.label @card.translated_text %>
    <hr>
    <%= f.input :card_id, as: :hidden, input_html: { value: @card.id } %>
    <%= f.input :user_text, label: t('app.check_card.original_text') %>
    <%= f.submit t('links.check') %>
  <% end %>
<%  else %>
  <p><%= t('app.check_card.no_cards') %></p>
<% end %>
