<%= simple_form_for @card do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>
      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.input :deck_id, label: "Колода", collection: @decks.map { |d| [d.name, d.id] },:include_blank => false %>
  <%= f.input :original_text, label: 'Original text:' %>
  <%= f.input :translated_text , label: 'Translated text:' %>
  <%= f.input :review_date, as: :date, label: 'Review date:', input_html: {class: "medium-12 columns"} %>
  <%= f.input :image, as: :file, label: 'Card image:' %>

  <%= f.submit %>
<% end %>
