<section id="container">
  <section>
    <p id="notice"><%= notice %></p>
    <p><strong>Карточка создана</strong></p>
    <p>Original text: <%= @card.original_text %></p>
    <p>Translated text: <%= @card.translated_text %></p>
     <p>Created by: <%= @card.user.username %></p>
    <%= link_to 'Редактировать', edit_card_path(@card) %>
    <%= link_to 'Назад', cards_path %>
  </section>
</section>
