<section id="container">
  <section>
    <h4><%= @secret %></h4>
    <table>
      <thead>
        <%= t('decks.all_decks') %>
      </thead>
      <tbody>
        <% @decks.each do |deck| %>
          <tr>
            <td><%= deck.name %></td>
            <td><%= link_to t('forms.links.show'), deck %></td>
            <td><%=link_to t('forms.links.edit'), edit_deck_path(deck) %></td>
            <td><%= link_to t('forms.links.delete'), deck, method: :delete, data: { confirm: t('forms.links.confirm') } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
  <br>
  <%= render 'form_set_current'%>
</section>
