<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="user_nav">
      <% if current_user %>
        Logged in as <%= current_user.username %>
        <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
        <%= link_to "Log out", logout_path %>
      <% else %>
        <%= link_to "Sign up", signup_path %>
        <%= link_to "Log in", login_path %>
        <%= link_to 'Login with Twitter', auth_at_provider_path(:provider => :twitter) %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h1>Флэшкарточкер</h1>
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=" responsive-menu">

          </button>
        </div>
        <div class="collapse navbar-collapse" id="responsive-menu">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Все карточки', cards_path %></li>
            <li><%= link_to 'Добавить карточку', new_card_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
